@using MainDemoWebClient.UserAccountWrappers
@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Message</h2>

<h3>
    Welcome to the Test Application !
</h3>
@if (MembershipHelper.IsUserLoggedIn())
{

}
else
{
    <p>
        Click @( Html.ActionLink("Log On", "LogOn", "Account") ) to authenticate.
    </p>
}
