<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <add name="FormsAuthenticationModule" type="FormsAuthenticationModule" />
    </modules>-->
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyBehaviour" name="AuthenticationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ClientCertificateTransportSecurity" name="MyEndPoint" contract="IAuthenticationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ClientCertificateTransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>