@using MainDemoWebClient.UserAccountWrappers

@{ var userName = MembershipHelper.UserName; }
@if (!string.IsNullOrEmpty(userName))
{
    if(!MembershipHelper.IsWindowsAuthentication) {
    <text>Welcome <span class="user-display">@userName</span>!/ @Html.ActionLink("Log Off", "LogOff", "Account") </text>
    }else{
        <text>Welcome <span class="user-display">@userName</span>!</text>
    }
}
else
{
    @: @Html.ActionLink("Log On", "LogOn", "Account") 
}