<div data-role="view" data-name="ContactEditView">
    <div data-target-placeholder="header">
        <div data-bind="dxToolbar: {}" >
            <div data-bind="dxToolbarItem: { align: 'left', type: 'button' }">
                <div data-bind="dxButton: { type: 'back', text: 'Back', click: handleBackClick }"></div>
            </div>
            <div data-bind="dxToolbarItem: { align: 'right', type: 'button' }">
                <div data-bind="dxButton: { text: 'Save' }"></div>
            </div>
            <div data-bind="dxToolbarItem: { align: 'center', text: FirstName }"></div>
        </div>
    </div>
    <div data-target-placeholder="content">
        <div class="dx-field">
            <div class="dx-field-key">FirstName</div>
            <div class="dx-field-value" data-bind="text: FirstName"></div>
        </div>
        <div class="dx-field">
            <div class="dx-field-key">LastName</div>
            <div class="dx-field-value" data-bind="text: LastName"></div>
        </div>
        <div class="dx-field">
            <div class="dx-field-key">Email</div>
            <div class="dx-field-value" data-bind="text: Email"></div>
        </div>
    </div>
</div>
