<div data-role="view" data-name="DetailView" data-title="Contact">
    <div data-target-placeholder="content">
    <div data-bind="dxList: { items: events }">
        <div data-dx-role="template" data-dx-name="item">
            <div>
                <!--<img class="icon" src="/Content/Documentation/images/marker.png"/>-->
                <div>
                    <span data-bind="text: FirstName"></span>
                    <div class="small" data-bind="text: LastName"></div>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div data-role="command" data-location="back" data-bind="uri: '_back'" data-title="Back"></div>
</div>