<div data-role="view" data-name="DetailView" data-title="Contact">
    <div data-target-placeholder="content">
        <h1 data-bind="text: FirstName"></h1>
  <div class="dx-field">
    <div class="dx-field-key">FirstName</div>
    <div class="dx-field-value" data-bind="text: FirstName"></div>
  </div>
          <div class="dx-field">
    <div class="dx-field-key">LastName</div>
    <div class="dx-field-value" data-bind="text: LastName"></div>
  </div>
        </div>
    <div data-role="command" data-location="back" data-bind="uri: '_back'" data-title="Back"></div>
</div>