<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="User ID=Test4;Password=1tr.erweerT;Pooling=false;Data Source=minakov-w8;Initial Catalog=MainDemo_v12.1" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="DXTremeDemoService.AuthenticationServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="DXTremeDemoService.AuthenticationService">
                <endpoint address="" behaviorConfiguration="DXTremeDemoService.AuthenticationServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="DXTremeDemoService.AuthenticationService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
