<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <!--The ADO.NET Data Services server supports only the WebHttpBinding-->
      <service behaviorConfiguration="MyBehaviour" name="DemoODataDemoService">
        <endpoint binding="webHttpBinding" bindingConfiguration="ClientCertificateTransportSecurity_DataService" name="MyEndPoint" contract="System.Data.Services.IRequestHandler" />
      </service>
    </services>
    <bindings>
      <!--Настоятельно не рекомендую использовать Windows Authentication с WebHttpBinding из соображений производительности и нагрузки сети... Любой вызов сервиса превращается в три... А если учесть то, что не все вызовы являются методами GET, иногда есть еще и POST методы с массивным message body. Это body будет гоняться по сети три раза из-за тупой реализации Windows Authentication в WCF-->
      <webHttpBinding>
        <binding name="ClientCertificateTransportSecurity_DataService">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows">
              <!--<extendedProtectionPolicy policyEnforcement="Always"/>-->
            </transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>