<div data-role="view" data-name="index">
    <div data-target-placeholder="header">
        <div data-bind="dxToolbar: {}">
            <div data-bind="dxToolbarItem: { align: 'center', text: 'Contacts' }"></div>
            <div data-bind="dxToolbarItem: { align: 'right', type: 'button' }">
                <div data-bind="dxButton: { text: 'Log Off', click: handleLogOffClick }"></div>
            </div>
        </div>
    </div>
    <div data-target-placeholder="content">
        <div data-bind="dxList: { dataSource: todoLists, itemClick: handleTripListItemClick }">
            <div data-dx-role="template" data-dx-name="item">
                <div>
                    <div data-bind="text: FirstName"></div>
                    <div class="small" data-bind="text: LastName"></div>
                </div>
            </div>
        </div>
    </div>
</div>
