<div data-role="view" data-name="LogOn" data-title="Log On">
    <div data-target-placeholder="header">
        <div data-bind="dxToolbar: {}">
            <div data-bind="dxToolbarItem: { align: 'center', text: 'Log On' }"></div>
        </div>
    </div>
    <div data-target-placeholder="content">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-key">UserName</div>
                <div class="dx-field-value" data-bind="dxTextbox: { value: UserName, valueUpdateEvent: 'keyup' }"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-key">Password</div>
                <div class="dx-field-value" data-bind="dxTextbox: { mode: 'password', value: Password }"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-key"></div>
                <div class="dx-field-value" data-bind="dxButton: { text: 'Log On', disabled: !UserName(), click: handleLogOnClick }"></div>
            </div>
        </div>
    </div>
</div>
